
.card-d{
    display: grid;
    grid-template-columns: repeat(4,1fr) !important;
    margin: 40px;
}
.button{
text-align: center;
}
nav{
    background-color: black;
}
.filter{
    text-align: center !important;
}
.header{
    height: 48vw;
}
.hero{
        background-color: black !important;
        display: flex;
        justify-content: space-between;
}
.hero img{
    width: 300px !important;
    margin: 30px;
    border-radius: 20px !important;
}
.hero h1{
    text-align: center;
    color: white;
    position: absolute;
    top: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    width: 100%;
}
.filter{
   padding: 7px 20px;
   border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin: 27px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    transition: 1s;
}

.filter:hover{
    color: white;
    background-color: black;
}
@media only screen and (max-width: 1024px){
    .card-d{
        grid-template-columns: 1fr;
    }
}