.card-d{
    display: grid;
    grid-template-columns: repeat(4,1fr) !important;
    margin: 40px;
}
.button{
text-align: center;
}
nav{
    background-color: black;
}
.filter{
    text-align: center !important;
}
/* button{
    background-color: black !important;
} */


@media only screen and (max-width: 1024px){
    .card-d{
        grid-template-columns: 1fr;
    }
}